.post {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 20px;

  &__id {
    font-size: 8px;
    color: gray;
    text-align: right;
    margin: 5px;
  }

  .card-title {
    font-size: 16px;
    color: rgba(64, 30, 255, 0.205);
    font-weight: bold;
  }

  .card-text {
    color: black;
    font-size: 12px;
    text-align: left;
  }

  .block {
    display: flex;
    text-align: right;
    justify-content: space-between;
    padding: 10px;
  }

  .block1 {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.styled {
    background-color: #61dafb !important;
  }

  &__link-btn {
    color: dodgerblue;
    cursor: pointer;
    align-self: flex-start;
    margin: 5px 10px;
    font-size: 12px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 15px;
    margin: 10px;
    border: 1px solid lightslategray;
    font-size: 14px;

    &__author {
      font-weight: bold;
      font-size: 12px;
    }

    &__title {
      color: grey;
    }

    &__text {
      font-size: 12px;
    }

    &__no-results,
    &__loading {
      font-size: 12px;
      font-weight: bold;
      color: grey;
      margin: 20px;
    }
  }
}
