.user-details {
  margin: 0 20px;
  overflow: auto;

  &__id {
    text-align: right;
    font-size: 12px;
    color: gray;
  }

  .user-info {
    display: flex;
    align-items: start;
    text-align: left;

    &-avatar {
      align-self: flex-start;
    }

    img {
      display: block;
      border-radius: 50%;
      width: 80px;
      border: 1px solid cadetblue;
    }

    .user-data {
      padding: 10px;
      display: flex;
      flex-direction: column;
      font-size: 12px;

      p {
        margin: 5px;
      }
    }
  }

  &__posts-block {
    border: 1px solid lightslategray;
    padding: 20px;
  }

  &__posts-list {
    padding: 0;
    margin: 0;

    .list-group-item {
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}